#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    // 1. Matrice Elettrica (Pin fisici saldati)
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        // RIGHE (lato sinistro della scheda)
        row-gpios
            = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 0: Mignolo (0.20)
            , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 1: Anulare (0.22)
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 2: Medio (0.11)
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 3: Indice (0.24)
            , <&gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 4: Indice Interno (1.00)
            , <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 5: Cluster Pollice (0.17)
            ;

        // COLONNE (lato destro della scheda)
        col-gpios
            = <&gpio0  2 GPIO_ACTIVE_HIGH>  // Colonna 0: Tasti Bassi (0.02)
            , <&gpio1 13 GPIO_ACTIVE_HIGH>  // Colonna 1: Tasti Medi (1.13)
            , <&gpio1 11 GPIO_ACTIVE_HIGH>  // Colonna 2: Tasti Alti (1.11)
            ;
    };

    // 2. Ponte Geometrico (Mappa logica 18 tasti)
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <6>;
        map = <
            // Tasti Alti (0, 1, 2, 3, 4)
            RC(0,2) RC(1,2) RC(2,2) RC(3,2) RC(4,2)
            // Tasti Medi / Home (5, 6, 7, 8, 9)
            RC(0,1) RC(1,1) RC(2,1) RC(3,1) RC(4,1)
            // Tasti Bassi (10, 11, 12, 13, 14)
            RC(0,0) RC(1,0) RC(2,0) RC(3,0) RC(4,0)
            // Tasti Pollice (15, 16, 17)
            RC(5,0) RC(5,1) RC(5,2)
        >;
    };

    // 3. Layout Fisico Reale per ZMK Studio (Cluster Pollice Calibrato al Millimetro)
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Cornepad";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  // w   h    x    y   rot   rx   ry
            // --- FILA SUPERIORE ---
            = <&key_physical_attrs 100 100    0   63     0   0   0>  // Tasto 0: Mignolo Alto
            , <&key_physical_attrs 100 100  100   13     0   0   0>  // Tasto 1: Anulare Alto
            , <&key_physical_attrs 100 100  200    0     0   0   0>  // Tasto 2: Medio Alto
            , <&key_physical_attrs 100 100  300   38     0   0   0>  // Tasto 3: Indice Alto
            , <&key_physical_attrs 100 100  400   50     0   0   0>  // Tasto 4: Indice Int. Alto

            // --- FILA CENTRALE (HOME ROW) ---
            , <&key_physical_attrs 100 100    0  163     0   0   0>  // Tasto 5: Mignolo Home
            , <&key_physical_attrs 100 100  100  113     0   0   0>  // Tasto 6: Anulare Home
            , <&key_physical_attrs 100 100  200  100     0   0   0>  // Tasto 7: Medio Home
            , <&key_physical_attrs 100 100  300  138     0   0   0>  // Tasto 8: Indice Home
            , <&key_physical_attrs 100 100  400  150     0   0   0>  // Tasto 9: Indice Int. Home

            // --- FILA INFERIORE ---
            , <&key_physical_attrs 100 100    0  263     0   0   0>  // Tasto 10: Mignolo Basso
            , <&key_physical_attrs 100 100  100  213     0   0   0>  // Tasto 11: Anulare Basso
            , <&key_physical_attrs 100 100  200  200     0   0   0>  // Tasto 12: Medio Basso
            , <&key_physical_attrs 100 100  300  238     0   0   0>  // Tasto 13: Indice Basso
            , <&key_physical_attrs 100 100  400  250     0   0   0>  // Tasto 14: Indice Int. Basso

            // --- CLUSTER POLLICE AD ARCO ---
            , <&key_physical_attrs 100 100  362  386  1500 412 436>  // Tasto 15: Pollice 1 (15°)
            , <&key_physical_attrs 100 100  465  420  2500 515 470>  // Tasto 16: Pollice 2 (25°)
            , <&key_physical_attrs 100 100  551  471  3500 601 521>  // Tasto 17: Pollice 3 (35°, -1/6 X, +1/6 Y)
            ;
    };
};
