#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    // 1. Definizione Elettrica dei Pin saldati
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        // Le nostre 6 RIGHE (lato sinistro della scheda)
        row-gpios
            = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 0: Mignolo
            , <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 1: Anulare
            , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 2: Medio
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 3: Indice
            , <&gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 4: Indice Interno
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Riga 5: Blocco Pollice
            ;

        // Le nostre 3 COLONNE (lato destro della scheda)
        col-gpios
            = <&gpio1 15 GPIO_ACTIVE_HIGH>  // Colonna 0: Tasti Bassi
            , <&gpio1 13 GPIO_ACTIVE_HIGH>  // Colonna 1: Tasti Medi (Home)
            , <&gpio1 11 GPIO_ACTIVE_HIGH>  // Colonna 2: Tasti Alti
            ;
    };

    // 2. Ponte Geometrico: Riporta i tasti nella vista orizzontale classica della Corne
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <6>;
        map = <
            // Fila Superiore (Dita: Mignolo, Anulare, Medio, Indice, Indice Interno)
            RC(0,2) RC(1,2) RC(2,2) RC(3,2) RC(4,2)
            // Fila Centrale (Home Row)
            RC(0,1) RC(1,1) RC(2,1) RC(3,1) RC(4,1)
            // Fila Inferiore
            RC(0,0) RC(1,0) RC(2,0) RC(3,0) RC(4,0)
            // I 3 Tasti Pollice
            RC(5,0) RC(5,1) RC(5,2)
        >;
    };

    // 3. Layout Fisico per ZMK Studio (Disegna il tastierino dritto a schermo)
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "WalPad_V2";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  // w   h    x    y   rot rx ry
            = <&key_physical_attrs 100 100    0  10   0 0 0>  // Mignolo Alto
            , <&key_physical_attrs 100 100  100   5   0 0 0>  // Anulare Alto
            , <&key_physical_attrs 100 100  200   0   0 0 0>  // Medio Alto
            , <&key_physical_attrs 100 100  300   5   0 0 0>  // Indice Alto
            , <&key_physical_attrs 100 100  400  10   0 0 0>  // Ind. Int. Alto

            , <&key_physical_attrs 100 100    0 110   0 0 0>  // Mignolo Home
            , <&key_physical_attrs 100 100  100 105   0 0 0>  // Anulare Home
            , <&key_physical_attrs 100 100  200 100   0 0 0>  // Medio Home
            , <&key_physical_attrs 100 100  300 105   0 0 0>  // Indice Home
            , <&key_physical_attrs 100 100  400 110   0 0 0>  // Ind. Int. Home

            , <&key_physical_attrs 100 100    0 210   0 0 0>  // Mignolo Basso
            , <&key_physical_attrs 100 100  100 205   0 0 0>  // Anulare Basso
            , <&key_physical_attrs 100 100  200 200   0 0 0>  // Medio Basso
            , <&key_physical_attrs 100 100  300 205   0 0 0>  // Indice Basso
            , <&key_physical_attrs 100 100  400 210   0 0 0>  // Ind. Int. Basso

            , <&key_physical_attrs 100 100  250 315   0 0 0>  // Pollice 1
            , <&key_physical_attrs 100 100  350 325   0 0 0>  // Pollice 2
            , <&key_physical_attrs 100 100  450 330   0 0 0>  // Pollice 3
            ;
    };
};